@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: rgb(138, 0, 0);
    width: 100%;
    height: 92vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.weather_container {
    /* background-color: rgb(106, 145, 145); */
}

/* Temperature */
.temp p {
    display: inline;
    font-size: 4rem;
    font-weight: 400;
}
.temp span{
    margin-left: 5px;
    font-size: 4rem;
    font-weight: 400;

}
/* Location  */
.time-location {
    font-size: 2rem;
    font-weight:
}

/* Search Nav */
nav {
    background-color: rgb(201, 201, 201);
    height: 8vh;
    align-content: center;
}

nav form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 34px;

}

nav input {
    height: 2rem;
    width: 50%;
    font-size: 1rem;
    padding-left: 20px;
    border: none;
    outline: none;
    border-radius: 1rem;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.634);
    background-image: url(Search.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: right 10px center;


}

nav button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    background-color: rgb(43, 42, 42);
    color: whitesmoke;
    cursor: pointer;
    width: 8%;
    height: 2rem;
    padding: 8px;
    border: none;
    outline: none;
    border-radius: 1rem;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.634);

}

nav button:hover {
    background-color: rgb(56, 56, 56);
}